body{
    background-color: rgb(3, 3, 3);
    padding-top: 30px;
}
.a {
    background-color: black;
}

.digital-influencer:hover{
  color: rgb(252, 50, 168) !important;
}


footer{
    color: #ccc;
}
.fa-facebook:hover{
    color:rgb(252, 50, 168) !important;
}
.fa-instagram:hover{
    color: rgb(252, 50, 168) !important;
}
.fa-whatsapp:hover{
    color: rgb(252, 50, 168) !important;
}

.texto-cinza{
  color: #ccc;
}

.btn-enviar:hover{
  border-color:rgb(252, 50, 168) !important;
  background-color:rgb(252, 50, 168) !important;
}

/* .navbar{
    background: black !important;
} */

// Dispositivos extra small (telefones em modo retrato, com menos de 576px)
// Sem media query para `xs`, já que este é o padrão, no Bootstrap.

// Dispositivos small (telefones em modo paisagem, com 576px ou mais)
@media (min-width: 576px) { ... }

// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) { ... }

// Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) { ... }

// Dispositivos extra large (desktops grandes com 1200px ou mais)
@media (min-width: 1200px) { ... }




/* <!-- Proporção 21:9 -->
<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>

<!-- Proporção 16:9 -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>

<!--Proporção 4:3 -->
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div>

<!--Proporção 1:1 -->
<div class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="..."></iframe>
</div> */

